@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both; // clear both float left right
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
